.map-container {
  width: 100%;
  height: 250px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.bg-darken {
  font-size: 14px;
}
@media (max-width: 992px) {
  .bg-darken {
    font-size: smaller;
  }
}
@media (max-width: 576px) {
  .bg-darken {
    font-size: smaller;
  }
}
/* Target all navbar links inside the ul */
/* Ensure we target the navbar links specifically */
.navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: #2575fc !important; /* force the color to change */
  transition:
    color 0.3s,
    text-decoration 0.3s;
}
